*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
}

#cursor {
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #96c11e3d;
    filter: blur(50px);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
}

#nav {
    width: 100%;
    height: 145px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 75px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1 {
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1px #95C11E;
    z-index: -1;
}

#page1 h2 {
    font-size: 25px;
    font-weight: 800;
}

#page1 h3 {
    font-size: 15px;
    font-weight: 400;
    width: 40%;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#scroller::-webkit-scrollbar {
    display: none;
}

@keyframes scrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#scroller-in-1 {
    display: inline-block;
    white-space: nowrap;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 30px;
    color: transparent;
    -webkit-text-stroke: 1px #95C11E;
}

